{% extends 'base.html' %}
{% block body %}


<section  class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
               
                  <h1 class="mt-2 text-center text-white" style="color: #7B7171;font-family: inherit">Recent Articles</h1>
                
            </div>
        </div>
    </div>
  </section>
  <br>
  <br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="form">
                <form method="POST">
                    <div class="form-group">

                        {% csrf_token %}
                        <!-- {{ form.as_p }} -->
                        <label> Article Title : </label>
                        {{ form.title}}
                        <br>
                        <br>
                        <label> Article content : </label>
                        {{ form.post_content}}

                        <div class="text-center mt-3">
                            <input type="submit" id='js-pl-submit' class="btn btn-danger comment-submit-button"
                                value='Submit' />
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div></div>

{% endblock %}