{% extends "base.html" %}
{% load crispy_forms_tags %}
{# crispy user_form user_form.helper #}

{% block body %}
<section class="about-banner relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Register 
                    </h1>
                </div>
            </div>
        </div>
</section>
<section class="about-info-area section-gap">
        <div class="container">
            <!-- <div class="row align-items-center "> -->
                    <form method="POST" style="widows: 100%;" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        {{user_form|crispy}}
                        <hr>
                        {{profile_form|crispy}}
                    <input type="submit" class="primary-btn text-uppercase btn-block" value="Register">
                    </form>
            <!-- </div> -->
        </div>
    </section>
{% endblock %}