{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<h1 class="mt-2 text-center" style="color: #7B7171;font-family: inherit">Recent Articles</h1>
<hr class="mt-0 mb-0 text-center" style="width: 6%;border: 1px solid crimson;">
<br>


{% for ar in article_data %}
{% if ar.post__title == '' %}
<h6>
  <img src="{% static '/imgs/'%}{{ar.user__img}}" class="avatar" style="margin-right: 20px"/>
  <span style="color: rebeccapurple">{{ar.user__user_name}}</span> :
  <span style="margin-top: 20px;color: #695f5f;">{{ar.comment_content}} </span>
</h6>
{% else %}
<br>
<br>
<h3>{{ar.post__title}}</h3>
<h5 style="color: #5a5050;">{{ar.post__post_content}}</h5>
<h6>{{ar.user__profile_picture}}
  <img src="{% static '/imgs/'%}{{ar.user__img}}" class="avatar" style="margin-right: 20px"/>
  <span style="color: rebeccapurple">{{ar.user__user_name}}</span> :
  <span style="margin-top: 20px;color: #695f5f;">{{ar.comment_content}} </span>
</h6>
{% endif %}

<!-- <hr> -->
<a style="margin-top: 15px;margin-bottom: 20px;" href="{{ar.post__id}}/{{ar.post__user_id}}/">Comment</a>

<!-- <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            
           <button type="submit" >Post</button>
           </form> -->

<br>
{% endfor %}
<br>
<br>

<!-- Button trigger modal -->
<a style="float: right" href="add_post/1/" type="button" class="btn btn-success" > Add Article</a>
<br>
<br>
<br>

{% endblock %}