
{% extends 'base.html' %}

{% block body %}

<style>
          input[type=submit]:hover {
     background-color: #45a049;
   }
  
</style>

<section class="about-banner relative">
   <div class="overlay overlay-bg"></div>
   <div class="container">
       <div class="row d-flex align-items-center justify-content-center">
           <div class="about-content col-lg-12">
               <h1 class="text-white">
                   Hotel Reservation
               </h1>
           </div>
       </div>
   </div>
</section>

   <center>
   
      <form class="form-style-9" method="POST"> 
             {% csrf_token %}
         <br/> 
            <!-- {{form.as_p}} -->
            choose hotel : {{form.hotel_id}}
            <!-- user_id : {{form.user_id}}  -->
            from_date : <br> {{form.from_date}}<br>
            to_date : <br> {{form.to_date}}<br>
            number of adults : <br> {{form.no_of_adults}}
            <br>

         <br/>
            <div>
               <input class="button_1" type="submit" value="Book">
               <input class="button_1" type="submit" value="Reset">
            </div>
      </form> 
   </center>
{% endblock %}
