{% extends 'base.html' %}

{% block body %}
<style>
   input[type=submit]:hover {
  background-color: #45a049;
}
</style>
<section class="about-banner relative">
   <div class="overlay overlay-bg"></div>
   <div class="container">
       <div class="row d-flex align-items-center justify-content-center">
           <div class="about-content col-lg-12">
               <h1 class="text-white">
                   Car Reservation
               </h1>
           </div>
       </div>
   </div>
</section>
<style>
. form-style-9{
border: 1px dotted #999;
border-radius: 0;

-webkit-appearance: none;
}

</style>
<center>

      <form class="form-style-9" method="POST">
            {% csrf_token %}
           
         <br/>
         <br/>
         from(location): {{form.destination}}
         <!-- user_id : {{form.user_id}}  -->
         to (location): <br> {{form.destination}}<br>
         date (from) : <br> {{ form.pick_up_date }}<br>
         date  (to): <br> {{form.Drop_off_date}}<br>
         time (from): <br> {{form.pick_up_time}}<br>
         time (to): <br> {{form.Drop_off_time}}<br>
         <br>
         <br/>
            <div>
               <input class="button_1" type="submit" value="Book">
               <input class="button_1" type="submit" value="Reset">
            </div>
      </form>
</center>

{% endblock %}